# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# datos
data/*
darset_data.7z
darset_data/c11/c11_series10min.sas
darset_data/c11/c11_series10minGen.sas
darset_data/c11/c11_series60min_pronos.txt
darset_data/c11/correos/Cambios_offset.pdf
darset_data/c11/correos/doc (1).pdf
darset_data/c11/correos/doc (2).pdf
darset_data/c11/correos/doc (3).pdf
darset_data/c11/correos/doc.pdf
darset_data/c11/correos/imagen.jpg
darset_data/c11/correos/pronosP1.xlsx
darset_data/c11/medidasSMEC.txt
darset_data/c32/c32_series10min.sas
darset_data/c32/c32_series10minGen.sas
darset_data/c32/c32_series60min_pronos.txt
darset_data/c5/_potSMEC10m_potSMEC15m_potSCADA.png
darset_data/c5/_potSMEC10m_potSMEC15m_velSCADA_cgmSCADA.png
darset_data/c5/_potSMEC10m_potSMEC15m_velSCADA_potSCADA.png
darset_data/c5/_velSCADA_potSCADA.png
darset_data/c5/archi_AS
darset_data/c5/archi_as_Melowind
darset_data/c5/archi_as_Melowind.7z
darset_data/c5/c5_series10min.sas
darset_data/c5/c5_series10minGen.sas
darset_data/c5/c5_series60min_pronos.sas
darset_data/c5/c5_series60min_pronos.txt
darset_data/c5/c5_series60min_pronos.xlsx
darset_data/c5/medidasSMEC.txt
darset_data/c5/medidasSMEC.xlsx
darset_data/c5/old/c5-0-9309.npz
darset_data/c5/old/c5-0-9309.png
darset_data/c5/old/c5-102399-111708.npz
darset_data/c5/old/c5-102399-111708.png
darset_data/c5/old/c5-111708-121017.npz
darset_data/c5/old/c5-111708-121017.png
darset_data/c5/old/c5-121017-130326.npz
darset_data/c5/old/c5-121017-130326.png
darset_data/c5/old/c5-130326-139635.npz
darset_data/c5/old/c5-130326-139635.png
darset_data/c5/old/c5-139635-148944.npz
darset_data/c5/old/c5-139635-148944.png
darset_data/c5/old/c5-148944-158253.npz
darset_data/c5/old/c5-148944-158253.png
darset_data/c5/old/c5-158253-167562.npz
darset_data/c5/old/c5-158253-167562.png
darset_data/c5/old/c5-167562-176871.png
darset_data/c5/old/c5-18618-27927.npz
darset_data/c5/old/c5-18618-27927.png
darset_data/c5/old/c5-27927-37236.npz
darset_data/c5/old/c5-27927-37236.png
darset_data/c5/old/c5-37236-46545.npz
darset_data/c5/old/c5-37236-46545.png
darset_data/c5/old/c5-46545-55854.npz
darset_data/c5/old/c5-46545-55854.png
darset_data/c5/old/c5-55854-65163.npz
darset_data/c5/old/c5-55854-65163.png
darset_data/c5/old/c5-65163-74472.npz
darset_data/c5/old/c5-65163-74472.png
darset_data/c5/old/c5-74472-83781.npz
darset_data/c5/old/c5-74472-83781.png
darset_data/c5/old/c5-83781-93090.npz
darset_data/c5/old/c5-83781-93090.png
darset_data/c5/old/c5-9309-18618.npz
darset_data/c5/old/c5-9309-18618.png
darset_data/c5/old/c5-93090-102399.npz
darset_data/c5/old/c5-93090-102399.png
darset_data/c5/Plantilla_series_10minutales_PLANTILLA_Febrero_19.xlsx
darset_data/c5/SMEC.png
darset_data/c5/vel_dir_pronos_melowind.xlsx
darset_data/c7/1/convergencia.png
darset_data/c7/1/datos.png
darset_data/c7/1/errores.png
darset_data/c7/1/resumen
darset_data/c7/1/resumen.txt
darset_data/c7/10/convergencia.png
darset_data/c7/10/datos.png
darset_data/c7/10/errores.png
darset_data/c7/10/resumen
darset_data/c7/11/convergencia.png
darset_data/c7/11/datos.png
darset_data/c7/11/errores.png
darset_data/c7/11/resumen
darset_data/c7/12/convergencia.png
darset_data/c7/12/datos.png
darset_data/c7/12/errores.png
darset_data/c7/12/resumen
darset_data/c7/13/convergencia.png
darset_data/c7/13/datos.png
darset_data/c7/13/errores.png
darset_data/c7/13/resumen
darset_data/c7/14/convergencia.png
darset_data/c7/14/datos.png
darset_data/c7/14/errores.png
darset_data/c7/14/resumen
darset_data/c7/15/convergencia.png
darset_data/c7/15/datos.png
darset_data/c7/15/errores.png
darset_data/c7/15/resumen
darset_data/c7/16/convergencia.png
darset_data/c7/16/datos.png
darset_data/c7/16/errores.png
darset_data/c7/16/resumen
darset_data/c7/17/convergencia.png
darset_data/c7/17/datos.png
darset_data/c7/17/errores.png
darset_data/c7/17/resumen
darset_data/c7/18/convergencia.png
darset_data/c7/18/datos.png
darset_data/c7/18/errores.png
darset_data/c7/18/resumen
darset_data/c7/19/convergencia.png
darset_data/c7/19/datos.png
darset_data/c7/19/errores.png
darset_data/c7/19/resumen
darset_data/c7/2/convergencia.png
darset_data/c7/2/datos.png
darset_data/c7/2/errores.png
darset_data/c7/2/resumen
darset_data/c7/2/resumen.txt
darset_data/c7/20/convergencia.png
darset_data/c7/20/datos.png
darset_data/c7/20/errores.png
darset_data/c7/20/resumen
darset_data/c7/21/convergencia.png
darset_data/c7/21/datos.png
darset_data/c7/21/errores.png
darset_data/c7/21/resumen
darset_data/c7/22/convergencia.png
darset_data/c7/22/datos.png
darset_data/c7/22/errores.png
darset_data/c7/22/resumen
darset_data/c7/23/convergencia.png
darset_data/c7/23/datos.png
darset_data/c7/23/errores.png
darset_data/c7/23/resumen
darset_data/c7/24/convergencia.png
darset_data/c7/24/datos.png
darset_data/c7/24/errores.png
darset_data/c7/24/resumen
darset_data/c7/25/convergencia.png
darset_data/c7/25/datos.png
darset_data/c7/25/errores.png
darset_data/c7/25/resumen
darset_data/c7/26/convergencia.png
darset_data/c7/26/datos.png
darset_data/c7/26/errores.png
darset_data/c7/26/resumen
darset_data/c7/27/convergencia.png
darset_data/c7/27/datos.png
darset_data/c7/27/errores.png
darset_data/c7/27/resumen
darset_data/c7/28/convergencia.png
darset_data/c7/28/datos.png
darset_data/c7/28/errores.png
darset_data/c7/28/resumen
darset_data/c7/29/convergencia.png
darset_data/c7/29/datos.png
darset_data/c7/29/errores.png
darset_data/c7/29/resumen
darset_data/c7/3/convergencia.png
darset_data/c7/3/datos.png
darset_data/c7/3/errores.png
darset_data/c7/3/resumen
darset_data/c7/3/resumen.txt
darset_data/c7/30/convergencia.png
darset_data/c7/30/datos.png
darset_data/c7/30/errores.png
darset_data/c7/30/resumen
darset_data/c7/31/convergencia.png
darset_data/c7/31/datos.png
darset_data/c7/31/errores.png
darset_data/c7/31/resumen
darset_data/c7/32/convergencia.png
darset_data/c7/32/datos.png
darset_data/c7/32/errores.png
darset_data/c7/32/resumen
darset_data/c7/4/convergencia.png
darset_data/c7/4/datos.png
darset_data/c7/4/errores.png
darset_data/c7/4/resumen
darset_data/c7/4/resumen.txt
darset_data/c7/5/convergencia.png
darset_data/c7/5/datos.png
darset_data/c7/5/errores.png
darset_data/c7/5/resumen
darset_data/c7/5/resumen.txt
darset_data/c7/6/convergencia.png
darset_data/c7/6/datos.png
darset_data/c7/6/errores.png
darset_data/c7/6/resumen
darset_data/c7/6/resumen.txt
darset_data/c7/7/convergencia.png
darset_data/c7/7/datos.png
darset_data/c7/7/errores.png
darset_data/c7/7/resumen
darset_data/c7/7/resumen.txt
darset_data/c7/8/convergencia.png
darset_data/c7/8/datos.png
darset_data/c7/8/errores.png
darset_data/c7/8/resumen
darset_data/c7/8/resumen.txt
darset_data/c7/9/convergencia.png
darset_data/c7/9/datos.png
darset_data/c7/9/errores.png
darset_data/c7/9/resumen
darset_data/c7/9/resumen.txt
darset_data/c7/archi_AS
darset_data/c7/c7_series10min.sas
darset_data/c7/c7_series10minGen.sas
darset_data/c7/c7_series60min_pronos.sas
darset_data/c7/Datos_para_ADME_CG (5).XLSX
darset_data/c7/resumen.txt
darset_data/c7/ro_pendientes_7.txt
darset_data/c93/c93_series10min.sas
darset_data/c93/c93_series10minGen.sas
darset_data/c93/c93_series60min_pronos.txt
darset_data/c93/medidasSMEC.txt
darset_data/c93/Plantilla_series_10minutales_PLANTILLA_JULIO_19_Solar_P.F._ARAPEY_SOLAR.xlsx
code.7z
code_bk_6_5/18_de_Julio_patrones.py
code_bk_6_5/archivos.py
code_bk_6_5/Carape1_patrones.py
code_bk_6_5/Carape2_patrones.py
code_bk_6_5/central_solar.py
code_bk_6_5/cerro_grande.py
code_bk_6_5/cerro_grande_patrones.py
code_bk_6_5/cerro_grande_series.py
code_bk_6_5/chuleta.txt
code_bk_6_5/datos.py
code_bk_6_5/eolica_5.py
code_bk_6_5/eolica_7.py
code_bk_6_5/F7.npz
code_bk_6_5/filtros.py
code_bk_6_5/Florida1_patrones.py
code_bk_6_5/Florida2_patrones.py
code_bk_6_5/FreeMonoBold.ttf
code_bk_6_5/gen_series_analisis_serial.py
code_bk_6_5/graficas.py
code_bk_6_5/JPTerra_patrones.py
code_bk_6_5/keras-mdn-layer-master/.travis.yml
code_bk_6_5/keras-mdn-layer-master/examples/1-sineprediction.py
code_bk_6_5/keras-mdn-layer-master/examples/4-robojam-touch-generation.py
code_bk_6_5/keras-mdn-layer-master/LICENSE.md
code_bk_6_5/keras-mdn-layer-master/mdn/__init__.py
code_bk_6_5/keras-mdn-layer-master/mdn/tests/__init__.py
code_bk_6_5/keras-mdn-layer-master/mdn/tests/test_mdn.py
code_bk_6_5/keras-mdn-layer-master/mdn/version.py
code_bk_6_5/keras-mdn-layer-master/notebooks/context.py
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/kanji-mdn-diagram.png
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/kanji_mdn_examples.png
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/kanji_test_1.png
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/kanji_test_2.png
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/microjam.gif
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/robojam-action-diagram.jpg
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/robojam-mdn-diagram.png
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/robojam-mdn-loss.png
code_bk_6_5/keras-mdn-layer-master/notebooks/figures/robojam_examples.png
code_bk_6_5/keras-mdn-layer-master/notebooks/MDN-1D-sine-prediction.ipynb
code_bk_6_5/keras-mdn-layer-master/notebooks/MDN-2D-spiral-prediction.ipynb
code_bk_6_5/keras-mdn-layer-master/notebooks/MDN-RNN-kanji-generation-example.ipynb
code_bk_6_5/keras-mdn-layer-master/notebooks/MDN-RNN-RoboJam-touch-generation.ipynb
code_bk_6_5/keras-mdn-layer-master/notebooks/MDN-RNN-time-distributed-MDN-training.ipynb
code_bk_6_5/keras-mdn-layer-master/README.md
code_bk_6_5/keras-mdn-layer-master/requirements.txt
code_bk_6_5/keras-mdn-layer-master/setup.py
code_bk_6_5/Kiyu_patrones.py
code_bk_6_5/lector_niveles.py
code_bk_6_5/Libertad_patrones.py
code_bk_6_5/M7.npz
code_bk_6_5/main.py
code_bk_6_5/Marialuz_patrones.py
code_bk_6_5/Minas1_patrones.py
code_bk_6_5/modelo_RNN.py
code_bk_6_5/n7.txt
code_bk_6_5/niveles.xlt
code_bk_6_5/notebooks/da_main.ipynb
code_bk_6_5/notebooks/rset_main.ipynb
code_bk_6_5/Palomas_patrones.py
code_bk_6_5/Pampa_patrones.py
code_bk_6_5/Pastorale_patrones.py
code_bk_6_5/plot_scatter.py
code_bk_6_5/prueba
code_bk_6_5/Rosario_patrones.py
code_bk_6_5/sample.txt
code_bk_6_5/sandbox/graficador.py
code_bk_6_5/sandbox/plotGrafs.py
code_bk_6_5/sandbox/temp.py
code_bk_6_5/sdf.png
code_bk_6_5/Solis_patrones.py
code_bk_6_5/Ventus1_patrones.py
code_bk_6_5/VillaRodriguez_patrones.py
code_bk_6_5/windrose.py
